/*
 *= require bootstrap/dist/css/bootstrap
 */



.card {
  transform: unset;
  transition: all ease 0.5s;
  height: 15%;
  width: 15%;

  &.hovering {
    height: 20%;
    width: 20%;
    transition: all ease 0.2s;
  }

  &.tapped {
    transform: rotate(90deg);
    transition: all ease 0.5s;
  }
}
