<!DOCTYPE html>
<html ng-app="application">
<head>
  <title>TCG DEMO</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script src="//cdn.jsdelivr.net/npm/phaser@3.10.1/dist/phaser.min.js"></script>
  <base href="/"/>
</head>
<body>
  <div ui-view="main"></div>
  <%= yield %>
</body>
</html>
